composer.lock
vendor
docs/build
.phpbench.sqlite
phpunit.xml
.travis/phpbench-phar-private.pem
phpbench.phar
phpbench.json
phpbench.phar.pubkey
phpbench.phar.version
.travis/build-key.pem
.travis/secrets.tar
.php_cs.cache
