<?php

$finder = PhpCsFixer\Finder::create()
    ->in([
        __DIR__ . '/lib',
        __DIR__ . '/tests',
        __DIR__ . '/extensions',
    ])
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        'binary_operator_spaces' => [ 'align_double_arrow' => false ],
        'blank_line_before_statement' => [
            'statements' => [
                'break',
                'continue',
                'declare',
                'default',
                'die',
                'do',
                'exit',
                'for',
                'foreach',
                'goto',
                'if',
                'include',
                'include_once',
                'require',
                'require_once',
                'return',
                'switch',
                'throw',
                'try',
                'while',
                'yield',
            ],
        ],
        'ordered_imports' => true,
        'concat_space' => false,
        'method_argument_space' => false,
        'no_unused_imports' => true,
        'ordered_imports' => true,
        'php_unit_set_up_tear_down_visibility' => true,
        'phpdoc_align' => [],
        'phpdoc_indent' => false,
        'phpdoc_separation' => true,
    ])
    ->setFinder($finder)
    ;
