{
    "bootstrap": "vendor/autoload.php",
    "path": "benchmarks",
    "storage": "elastic",
    "storage.elastic.connection": {
        "port": 9200
    },
    "php_config": {
        "memory_limit": "1G"
    },
    "extensions": [
        "PhpBench\\Extensions\\XDebug\\XDebugExtension",
        "PhpBench\\Extensions\\Dbal\\DbalExtension",
        "PhpBench\\Extensions\\Elastic\\ElasticExtension"
    ],
    "reports": {
        "all": {
            "generator": "composite",
            "reports": ["env", "default", "aggregate" ]
        }
    }
}
