parameters:
	ignoreErrors:
		-
			message: "#^Method PhpBench\\\\Console\\\\Command\\\\Handler\\\\RunnerHandler\\:\\:getParameters\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Console/Command/Handler/RunnerHandler.php

		-
			message: "#^Method PhpBench\\\\Console\\\\Command\\\\Handler\\\\RunnerHandler\\:\\:getParameters\\(\\) has parameter \\$parametersJson with no type specified\\.$#"
			count: 1
			path: lib/Console/Command/Handler/RunnerHandler.php

		-
			message: "#^Method PhpBench\\\\Console\\\\Command\\\\LogCommand\\:\\:__construct\\(\\) has parameter \\$storage with generic class PhpBench\\\\Registry\\\\Registry but does not specify its types\\: T$#"
			count: 1
			path: lib/Console/Command/LogCommand.php

		-
			message: "#^Method PhpBench\\\\Console\\\\Command\\\\LogCommand\\:\\:writeLines\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Console/Command/LogCommand.php

		-
			message: "#^Method PhpBench\\\\Console\\\\Command\\\\LogCommand\\:\\:writeLines\\(\\) has parameter \\$height with no type specified\\.$#"
			count: 1
			path: lib/Console/Command/LogCommand.php

		-
			message: "#^Method PhpBench\\\\Console\\\\Command\\\\LogCommand\\:\\:writeLines\\(\\) has parameter \\$lines with no type specified\\.$#"
			count: 1
			path: lib/Console/Command/LogCommand.php

		-
			message: "#^Method PhpBench\\\\Console\\\\Command\\\\LogCommand\\:\\:writeLines\\(\\) has parameter \\$nbRows with no type specified\\.$#"
			count: 1
			path: lib/Console/Command/LogCommand.php

		-
			message: "#^Method PhpBench\\\\Console\\\\Command\\\\LogCommand\\:\\:writeLines\\(\\) has parameter \\$output with no type specified\\.$#"
			count: 1
			path: lib/Console/Command/LogCommand.php

		-
			message: "#^Method PhpBench\\\\Console\\\\Command\\\\RunCommand\\:\\:__construct\\(\\) has parameter \\$storage with generic class PhpBench\\\\Registry\\\\Registry but does not specify its types\\: T$#"
			count: 1
			path: lib/Console/Command/RunCommand.php

		-
			message: "#^Method PhpBench\\\\Console\\\\Command\\\\ShowCommand\\:\\:__construct\\(\\) has parameter \\$storage with generic class PhpBench\\\\Registry\\\\Registry but does not specify its types\\: T$#"
			count: 1
			path: lib/Console/Command/ShowCommand.php

		-
			message: "#^Method PhpBench\\\\Development\\\\ConfigDumper\\:\\:prettyPrint\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: lib/Development/ConfigDumper.php

		-
			message: "#^Property PhpBench\\\\Executor\\\\Benchmark\\\\DebugExecutor\\:\\:\\$variantTimes type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Executor/Benchmark/DebugExecutor.php

		-
			message: "#^Method PhpBench\\\\Executor\\\\Benchmark\\\\TestExecutor\\:\\:executeMethods\\(\\) has parameter \\$methods with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Executor/Benchmark/TestExecutor.php

		-
			message: "#^Property PhpBench\\\\Executor\\\\Benchmark\\\\TestExecutor\\:\\:\\$executedMethods type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Executor/Benchmark/TestExecutor.php

		-
			message: "#^Method PhpBench\\\\Executor\\\\Method\\\\ErrorHandlingExecutorDecorator\\:\\:executeMethods\\(\\) has parameter \\$methods with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Executor/Method/ErrorHandlingExecutorDecorator.php

		-
			message: "#^Method PhpBench\\\\Executor\\\\Method\\\\RemoteMethodExecutor\\:\\:executeMethods\\(\\) has parameter \\$methods with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Executor/Method/RemoteMethodExecutor.php

		-
			message: "#^Method PhpBench\\\\Executor\\\\MethodExecutorInterface\\:\\:executeMethods\\(\\) has parameter \\$methods with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Executor/MethodExecutorInterface.php

		-
			message: "#^Method PhpBench\\\\Json\\\\JsonDecoder\\:\\:decode\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Json/JsonDecoder.php

		-
			message: "#^Method PhpBench\\\\Json\\\\JsonDecoder\\:\\:normalize\\(\\) has parameter \\$jsonString with no type specified\\.$#"
			count: 1
			path: lib/Json/JsonDecoder.php

		-
			message: "#^Method PhpBench\\\\Path\\\\Path\\:\\:getFilenameWithoutExtension\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Path/Path.php

		-
			message: "#^Method PhpBench\\\\PhpBench\\:\\:mergeProfile\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/PhpBench.php

		-
			message: "#^Method PhpBench\\\\PhpBench\\:\\:mergeProfile\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/PhpBench.php

		-
			message: "#^Method PhpBench\\\\Remote\\\\IniStringBuilder\\:\\:build\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Remote/IniStringBuilder.php

		-
			message: "#^Method PhpBench\\\\Remote\\\\ProcessFactory\\:\\:__construct\\(\\) has parameter \\$env with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Remote/ProcessFactory.php

		-
			message: "#^Function PhpBench\\\\Report\\\\Func\\\\fit_to_axis\\(\\) has no return type specified\\.$#"
			count: 1
			path: lib/Report/Func/functions.php

		-
			message: "#^Function PhpBench\\\\Report\\\\Func\\\\fit_to_axis\\(\\) has parameter \\$axis with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Report/Func/functions.php

		-
			message: "#^Function PhpBench\\\\Report\\\\Func\\\\fit_to_axis\\(\\) has parameter \\$rows with no type specified\\.$#"
			count: 1
			path: lib/Report/Func/functions.php

		-
			message: "#^Method PhpBench\\\\Report\\\\Generator\\\\ExpressionGenerator\\:\\:evaluate\\(\\) has parameter \\$baselineExprMap with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Report/Generator/ExpressionGenerator.php

		-
			message: "#^Method PhpBench\\\\Report\\\\Generator\\\\ExpressionGenerator\\:\\:evaluate\\(\\) has parameter \\$exprMap with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Report/Generator/ExpressionGenerator.php

		-
			message: "#^Method PhpBench\\\\Report\\\\Model\\\\Builder\\\\TableBuilder\\:\\:addRowArray\\(\\) has parameter \\$row with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Report/Model/Builder/TableBuilder.php

		-
			message: "#^Method PhpBench\\\\Report\\\\Model\\\\Reports\\:\\:getIterator\\(\\) return type with generic class ArrayIterator does not specify its types\\: TKey, TValue$#"
			count: 1
			path: lib/Report/Model/Reports.php

		-
			message: "#^Method PhpBench\\\\Report\\\\Model\\\\Table\\:\\:columnGroups\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Report/Model/Table.php

		-
			message: "#^Method PhpBench\\\\Report\\\\Model\\\\Table\\:\\:getIterator\\(\\) return type with generic class ArrayIterator does not specify its types\\: TKey, TValue$#"
			count: 1
			path: lib/Report/Model/Table.php

		-
			message: "#^Method PhpBench\\\\Serializer\\\\XmlDecoder\\:\\:getComputedStats\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Serializer/XmlDecoder.php

		-
			message: "#^Method PhpBench\\\\Serializer\\\\XmlDecoder\\:\\:getParameters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Serializer/XmlDecoder.php

		-
			message: "#^Method PhpBench\\\\Serializer\\\\XmlDecoder\\:\\:processBenchmark\\(\\) has parameter \\$resultClasses with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Serializer/XmlDecoder.php

		-
			message: "#^Method PhpBench\\\\Serializer\\\\XmlDecoder\\:\\:processSubject\\(\\) has parameter \\$resultClasses with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Serializer/XmlDecoder.php

		-
			message: "#^Method PhpBench\\\\Serializer\\\\XmlDecoder\\:\\:processVariant\\(\\) has parameter \\$resultClasses with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/Serializer/XmlDecoder.php
