parameters:
    level: 7
    paths:
        - lib
        - examples/Extension
    typeAliases:
        parameters: 'array<string,mixed>'

includes:
    - phpstan-baseline.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon
