parameters:
    level: 5
    paths:
        - lib
        - examples/Extension
        - extensions/xdebug/lib
    excludePaths:
        - lib/Attributes
        - lib/Benchmark/Metadata/Driver/AttributeDriver.php
    typeAliases:
        parameters: 'array<string,mixed>'
        scalarOrNull: 'int|float|string|bool|null'
        scalar: 'int|float|string|bool'
        number: 'int|float'
        tableRowArray: 'array<string,\PhpBench\Expression\Ast\Node>'
        tableColumnDefinition: 'array<string,mixed>'

includes:
    - phpstan-baseline.neon
