parameters:
    level: 5
    paths:
        - lib
        - examples/Extension
    typeAliases:
        parameters: 'array<string,mixed>'

includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
