parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method DOMNode\\:\\:getAttribute\\(\\)\\.$#"
			count: 19
			path: lib/Serializer/XmlDecoder.php

		-
			message: "#^Call to an undefined method DOMNode\\:\\:query\\(\\)\\.$#"
			count: 1
			path: lib/Serializer/XmlDecoder.php

		-
			message: "#^Parameter \\#1 \\$element of closure expects DOMElement, DOMNode given\\.$#"
			count: 1
			path: lib/Serializer/XmlDecoder.php

		-
			message: "#^Parameter \\#1 \\$element of method PhpBench\\\\Serializer\\\\XmlDecoder\\:\\:getComputedStats\\(\\) expects PhpBench\\\\Dom\\\\Element, DOMNode given\\.$#"
			count: 1
			path: lib/Serializer/XmlDecoder.php

		-
			message: "#^Parameter \\#1 \\$element of method PhpBench\\\\Serializer\\\\XmlDecoder\\:\\:getParameters\\(\\) expects PhpBench\\\\Dom\\\\Element, DOMNode given\\.$#"
			count: 2
			path: lib/Serializer/XmlDecoder.php

		-
			message: "#^Parameter \\#1 \\$suiteEl of method PhpBench\\\\Serializer\\\\XmlDecoder\\:\\:processSuite\\(\\) expects PhpBench\\\\Dom\\\\Element, DOMNode given\\.$#"
			count: 1
			path: lib/Serializer/XmlDecoder.php

		-
			message: "#^Parameter \\#2 \\$subjectEl of method PhpBench\\\\Serializer\\\\XmlDecoder\\:\\:processSubject\\(\\) expects PhpBench\\\\Dom\\\\Element, DOMNode given\\.$#"
			count: 1
			path: lib/Serializer/XmlDecoder.php

		-
			message: "#^Parameter \\#2 \\$variantEl of method PhpBench\\\\Serializer\\\\XmlDecoder\\:\\:processVariant\\(\\) expects PhpBench\\\\Dom\\\\Element, DOMNode given\\.$#"
			count: 1
			path: lib/Serializer/XmlDecoder.php
