includes:
    - vendor/phpstan/phpstan/conf/config.level4.neon

parameters:
    ignoreErrors:
        - '#Undefined variable: \$argv#'
        - '#Call to an undefined method DOMNode::#'
    paths:
        - lib
