<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    colors="true"
    bootstrap="vendor/autoload.php"
    >

    <testsuites>
        <testsuite name="PhpBench">
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="PhpBench XDebug Extension">
            <directory>./extensions/xdebug/tests</directory>
        </testsuite>
        <testsuite name="PhpBench DBAL Extension">
            <directory>./extensions/dbal/tests</directory>
        </testsuite>
        <testsuite name="PhpBench Reports Extension">
            <directory>./extensions/reports/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>.</directory>
            <exclude>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
